 <!-- Home. partial file  -->

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Food Truck Name:</label>
                <div class="col-sm-10">
                    <input ng-model="vm.name" id="name" type="text" class="form-control" placeholder="Food Truck Name"  />
                </div>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Today's Special:</label>
                <div class="col-sm-10">
                    <textarea id="text" ng-model="vm.text" row="15" cols="80">
                    </textarea>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"  ng-model='vm.includeLocation' /> Show location information
                    </label>
                </div>
                <span ng-show="vm.includeLocation">{{vm.location.address}}</span>
            </div>
            <button ng-click="vm.save()" type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p>{{vm.message}}</p>
        <ul ng-repeat="i in vm.foodTrucks" class="list-unstyled bg-warning">
            <li class="text-primary lead">{{i.name}}</li>
            <li>{{i.text}}</li>
            <li class="text-danger">{{i.address}}</li>
        </ul>
    </div>

    <section id="countdown-timer">
        <h3>
            Countdown Timer</h3>

        <div class="bs-docs-example">
            <p>
                The countdown timer <code ng-non-bindable="">&lt;timer interval=&quot;1000&quot; countdown=&quot;100&quot;&gt;{{countdown}}&lt;/timer&gt;</code>
                will start its countdown from 100 until it reaches 0 by ticking every second</p>

            <h3>
                <timer countdown="100" interval="1000">{{countdown}}</timer>
            </h3>
            <button class="btn" onclick="addCDSeconds('countdown-timer', 10)" type="button">Add 10 Seconds</button>
        </div>
    </section>
<!--   <timer end-time="1444104000000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer> -->
    <timer end-time="1444104000000"> {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
  <!-- <timer countdown="10041" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
  <timer countdown="3" interval="1000" finish-callback="callbackTimer.finished()">{{seconds}} second{{secondsS}}</timer> -->
  <!-- <timer countdown="10041" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer> -->

<!--  <div ng-controller="home">
 <timer countdown="100" interval="1000" class="ng-binding ng-isolate-scope"><span class="ng-binding ng-scope">0</span></timer>
 <button class="btn" onclick="addCDSeconds('countdown-timer', 10)" type="button">Add 10 Seconds</button>
</div> -->
 <!--   <div>
        <h1>AngularJS - Add Countdown Seconds Example</h1>
        <h3><timer countdown="10" interval="1000">{{countdown}}</timer></h3>
        <button ng-click="add5Seconds()">Add 5 Seconds</button>
    </div> -->

    <div class="col-xs-12 col-md-6">

   <map-directive></map-directive>
    </div>
</div>
