 <!-- Home. partial file  -->

<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Marker Number</label>
                <div class="col-sm-10">
                    <input ng-model="vm.name" id="name" type="text" class="form-control" placeholder=""  />
                </div>
            </div>
        <div class="form-group">
              <label for="text" class="col-sm-2 control-label">Today's Special:</label>
              <div class="col-sm-10">
                  <textarea id="text" ng-model="vm.text" row="15" cols="80">
                  </textarea>
              </div>
           </div>
           <!-- <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox"  ng-model='vm.includeLocation' /> Show location information
                              </label>
                          </div>
                          <span ng-show="vm.includeLocation">{{vm.location.address}}</span>
                      </div> -->



            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"  ng-model='vm.includeLocation' /> Show location information
                    </label>
                </div>
              <!--   <span ng-show="vm.includeLocation">{{vm.location.address}}</span> -->
              <!-- <div class="form-group">
                    <label for="text" class="col-sm-2 control-label">Marker Address:</label>
                    <div class="col-sm-10">
                        <textarea id="text" ng-model="vm.location.address" row="15" cols="80">
                        </textarea>
                    </div>
                 </div> -->

          <!--  <div class="col-sm-10">
               <textarea id="text" ng-model="vm.location.address" row="15" cols="80">
               </textarea>
           </div> -->
           <div class="col-sm-10">

                <textarea id="text"  ng-model="vm.location.address" row="15" cols="80">
                </textarea>
            </div>
                        </div>
            <button ng-click="vm.save()" type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
      <!--   <p>Mesage: {{vm.message}}</p> -->
        <ul ng-repeat="i in vm.foodTrucks" class="list-unstyled bg-warning">
            <li class="text-primary lead">Name: {{i.name}}</li>
            <li>Text: {{i.text}}</li>
            <li class="text-danger">Address: {{i.address}}</li>
            <li class="text-danger">Content: {{i.content}}</li>
            <li class="text-danger">Space: {{i.space}}</li>
            <li class="text-danger">Info: {{i}}</li>
            <li class="text-danger">Key: {{i.index}}</li>
          <!--   <button type="button" ng-click="vm.edit(i)">Edit</button> -->
          <button ng-click="vm.delete(i)" type="submit" class="btn btn-primary">Delete</button>
              <button type="submit" ng-click="editForm = true">Edit</button>
        <div ng-show="editForm">

          <li class="text-primary lead">Name: {{i.name}}</li>
          <li>Text: {{i.text}}</li>
          <li class="text-danger">Address: {{i.address}}</li>
          <li class="text-danger">Content: {{i.content}}</li>
          <li class="text-danger">Space: {{i.space}}</li>
          <li class="text-danger">Key: {{i.key}}</li>
          <form class="form-horizontal" role="form">
              <div class="form-group">
          <textarea id="text" ng-model="i.text" row="15" cols="80" placeholder="update text">
          </textarea>
          <button ng-click="vm.edit(i)" type="submit" class="btn btn-primary">Update button</button>

      </form>
        </form>
      </div>
        </div>

        </ul>
    </div>

    <section id="countdown-timer">
        <h3>
            Countdown Timer</h3>

        <div class="bs-docs-example">
            <p>
                The countdown timer <code ng-non-bindable="">&lt;timer interval=&quot;1000&quot; countdown=&quot;100&quot;&gt;{{countdown}}&lt;/timer&gt;</code>
                will start its countdown from 100 until it reaches 0 by ticking every second</p>

          <!--   <h3>
              <timer autostart = "false" countdown="100" interval="1000">{{countdown}}</timer>
          </h3> -->

<!-- THIS IS FOR ADDING ALREADY EXISTING METER
 -->
 <h3>
                <timer autostart = "false" countdown="vm.time" interval="1000">{{hours}} hours, {{mminutes}} minute{{minutesS}}</timer>
            </h3>
      <button class="btn" ng-click="count = count + .25" ng-init="count=0" onclick="addCDSeconds('countdown-timer', 900)" type="button">Add 15 minutes</button>

            <span>
  Cost: ${{count}}
 </span>
<!-------->
    <!--     </div>
        </section>
    <h3>{{vm.cost}}</h3>
        <timer countdown="15" interval="1000" finish-callback="callbackTimer.finished()">{{seconds}} second{{secondsS}}</timer>
        <h3>
              <timer autostart = "false" countdown="vm.time" interval="1000">{{hours}} hours, {{mminutes}} minute{{minutesS}}</timer>
          </h3>
          <div ng-model="something">
    <button class="btn"  ng-click="count = count + .25; vm.addTime()" ng-init="count=0" type="button">Add 25 cents</button>
        <button class="btn" ng-click="count = count + .25" ng-init="count=0" type="button">Add 15 minutes</button>
          <span>
        Cost: ${{count}}
       </span>
    </div> -->
<!--   <timer end-time="1444104000000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer> -->
  <!--   <timer end-time="1444104000000"> {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer> -->
 <!-- <timer countdown="10041" interval="1000">{{hours}} hours, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer> -->
<!--   <timer countdown="3" interval="1000" finish-callback="callbackTimer.finished()">{{seconds}} second{{secondsS}}</timer> -->
  <!-- <timer countdown="10041" max-time-unit="'minute'" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer> -->

<!--  <div ng-controller="home">
 <timer countdown="100" interval="1000" class="ng-binding ng-isolate-scope"><span class="ng-binding ng-scope">0</span></timer>
 <button class="btn" onclick="addCDSeconds('countdown-timer', 10)" type="button">Add 10 Seconds</button>
</div> -->
 <!--   <div>
        <h1>AngularJS - Add Countdown Seconds Example</h1>
        <h3><timer countdown="10" interval="1000">{{countdown}}</timer></h3>
        <button ng-click="add5Seconds()">Add 5 Seconds</button>
    </div> -->

    <div class="col-xs-12 col-md-6">
<!-- <map></map> -->
 <map-directive></map-directive>
    </div>
</div>
